{% extends 'base.html' %}

{% block title %} {{ user.username }} Profile {% endblock %}

{% block content %}

    <h2>Profile</h2>
    <br>
    <div class="row">
        <div class="col">

            <ul>
                <li><strong>Username</strong> : {{ user.username }}</li>
                <li><strong>First name</strong> : {{ user.first_name }}</li>
                <li><strong>Last name </strong>: {{ user.last_name }}</li>
                <li><strong>Email </strong>: {{ user.email }}</li>
                <li><strong>Date of birth</strong> :
                    {% if user.date_of_birth is None %}
                        Empty
                    {% else %}
                        {{ user.date_of_birth }}
                    {% endif %}
                <li><strong>Joined Date </strong>: {{ user.date_joined }}</li>
            </ul>
        </div>
        <div class="flex-column-reverse">
            {% if request.user == user %}
                <button class="btn btn-info">
                    <a class="text-decoration-none text-dark" href="{% url 'profile-edit' request.user.pk %}">Edit Profile</a>
                </button>
            {% endif %}
            <br><br>
            <button class="btn btn-info">
                <a class="text-decoration-none text-dark"  href="{% url 'user-post-list' user.pk %}">Post List</a>
            </button>
        </div>


    </div>



{% endblock %}

