{% extends 'base.html' %}
{% block title %} All Posts {% endblock %}

{% block content %}
    <h2>Post list</h2>
    <br>
    {% for post in posts %}
        <a href="{% url 'post-detail' post.pk %}">{{ post.title | title }}</a>
        <p>{{ post.body }}</p>
        <p> written by </p> <a href="{% url 'profile' post.author.pk %}">{{ post.author }}</a>
        <p>----------------------------------------------------------------------------------</p>
        <br><br>
    {% endfor %}

{% endblock %}