{% extends 'base.html' %}
{% block title %} {{ request.user.username }} Posts {% endblock %}

{% block content %}
    <h2>Post list</h2>
    <br>
    {% for post in posts %}
        <a href="{% url 'post-detail' post.pk %}">{{ post.title | title }}</a>
        {% for ctg in post.categories.all %}
                <li>
                    <a href="{% url 'category-posts' ctg.pk %}">{{ ctg }}</a>
                </li>
            {% endfor %}
        <p>{{ post.body|truncatewords:"100" }}</p>
        {% if access %}
            <a href="{% url 'edit-post' post.pk %}">(Edit)</a>
            <a href="{% url 'delete-post' post.pk %}">(Delete)</a>
        {% endif %}
        <p>----------------------------------------------</p>

    {% endfor %}

{% endblock %}