{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

    <p>{{ post.title | title }}</p>

    {% if post.attachment.url %}
        <img src="{{ post.attachment.url }}" class="rounded float-left" alt="Post Picture">
        <br><br>
    {% endif %}
    {% for ctg in post.categories.all %}
        <li>
            <a href="{% url 'category-posts' ctg.pk %}">{{ ctg }}</a>
        </li>
    {% endfor %}
    <br>
    <p> Written by : {{ post.author }}</p>
    <p>{{ post.body | safe }}</p>
    <br><br>
    {% if post.author == request.user %}
        <a href="{% url 'edit-post' post.pk %}">(Edit)</a>
        <br><br>
        <a href="{% url 'delete-post' post.pk %}">(Delete)</a>
    {% endif %}

    <p>---------------------------------------</p>
    <h4>Comments</h4>
    <button>
        <a href="{% url 'add-comment' post.pk %}">Add comment</a>
    </button>
    <br><br>
    {% for comment in post.comments.all %}
        <p>({{ comment.user }}) : {{ comment.text }} </p>
        <p>---------------------------------------------</p>
    {% endfor %}

{% endblock %}