{% extends 'base.html' %}
{% block title %} Search Posts {% endblock %}

{% block content %}
    <h3> You searched for {{ title }} </h3>
    <br>
    <h4>Results</h4>
    <br>
    <div></div>
    <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item list-group-item-dark">
                <a href="{% url 'post-detail' post.pk %}">{{ post.title | title }}</a>
                <br><br>
                <ul>
                    {% for ctg in post.categories.all %}
                        <li>
                            <a class="text-dark" href="{% url 'category-posts' ctg.pk %}">{{ ctg }}</a>
                        </li>
                    {% endfor %}
                </ul>
            <br>
                <p>{{ post.body | truncatewords:"100" }}</p>
                <p> written by : </p> <a href="{% url 'profile' post.author.pk %}">{{ post.author }}</a>
                <br><br>
            </li>

        {% endfor %}

    </ul>

{% endblock %}